/* Generic Page Elements */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: grid;
    font-family: 'Roboto', sans-serif;
    background: #252a34;

}

h1, h2 {
    color: #ff2e62
}

h3, p {
    color: #eaeaea
}

h4 {
    color: #ff2e62
}

main {
  background-color: rgb(20,20,20);
  letter-spacing: 2px;
}

.main {
    /* non-homepage main section */
    padding: 10px;
}

.page-title {
    padding: 20px 0;
    font-size: 40px;
}

.page-section {
    padding: 10px 0;
}

.page-section h2 {
    padding: 10px 0;
}

.page-section h4 {
    padding: 10px 0;
}

.page-section a {
    font-family: 'Roboto', sans-serif;
}

.breadcrumbs {
    font-size: 20px;
}

.breadcrumbs a {
    color: #eaeaea;
    display: inline;
    text-decoration: none;
}

/* Top nav menu */

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 20px;
    z-index: 999;
    background-color: #252a3475
}

@media only screen and (max-width: 1000px) {
    .nav-desktop { visibility: hidden; }
    .nav-mobile { visibility: visible; }
}

@media only screen and (min-width: 1001px) {
    .nav-desktop { visibility: visible; }
    .nav-mobile { visibility: hidden; }
}

.nav-list {
    right: 0;
}

.nav-logo {
    float: left;
    display: inline;
    margin-left: 25px;
    margin-right: 150px;
    height: auto;
    width: auto;
    max-height: 74px;
    max-width: 74px;
}

.mobile-logo {
  margin-right: auto;
  max-height: 55px;
  max-width: 55px;
}

.nav-item {
    float: left;
    display: inline;
    border-bottom: 2px solid #ff2e62;
}

.nav-active {
    border-bottom: 2px solid #00ffaa;
    font-weight: bold;
}

.nav-item a {
    display: block;
    padding: 25px 40px;
    color: #eaeaea;
    background: rgba(0, 0, 0, 0);
    transition: .5s ease;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-hamburger {
    margin-right: 25px;
    float: right;
    font-size: 40px;
    color: #eaeaea
}

.overlay-nav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(25,25,25, 0.8);
    overflow-x: hidden;
    transition: width 0.5s;
}

.overlay-nav a {
  display: block;
  padding: 20px 30px;
  color: #eaeaea;
  transition: .5s ease;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 5vh;
}

.overlay-nav a:hover {
  color: #ff2e62;
  transition: .5s ease;
}

/* Header */
.header {
    z-index: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-item a:hover {
    color: rgb(25,25,25);
    background: #ff2e62;
    transition: .5s ease;
}

.nav-active a:hover {
    color: rgb(25,25,25);
    background: #00ffaa;
    font-weight: bold;
    transition: .5s ease;
}

.header-video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.header-arrow {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2vh;
    height: auto;
    width: auto;
    min-width: 50px;
    min-height: 50px;
    max-height: 8vh;
    max-width: 12vw;
}


.header-banner {
    object-fit: cover;
    height: auto;
    width: 100%;
}

/* Footer */

.footer-wrapper {
    text-align: center;
    height: 150px;
    color: #ff2e62;
    background-color: rgb(25,25,25);
}

.footer-wrapper p {
    position: relative;
    top: 25%;

}

.socials-footer-wrapper {
    position: relative;
    top: 50%;
}

.socials-footer-wrapper a {
    font-size: 30px;
}

.socials-footer-wrapper a {
    padding: 8px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
    color: #252a34;
    background: #eaeaea;
    transition: .25s ease;
}

.socials-footer-wrapper a:hover {
    background: #00ffaa;
    transition: .25s ease;
}

/* Home Page */

.grid-item {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.grid-item h1 {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    color: #00ffaa;
    text-shadow: 3px 3px #252a34bb;
    font-weight: bold;
    text-decoration: none;
}

.grid-item h3 {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    color: #ff2e62;
    text-shadow: 3px 3px #252a34bb;
    text-decoration: none;
}

.grid-image {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    transition: all .5s ease;
}

.grid-image:hover {
    transform: scale(1.05);
    filter: blur(5px) brightness(80%);
}

/* Contact Page */

.page-section .fa {
    color: #00ffaa;
    font-size: 20px;
    display: inline;
    padding: 5px;
    line-height: 30px;
}

.page-section a {
    color: #eaeaea;
    text-decoration: none;
    position: absolute;
    left: 50px;
}

.page-section a:hover {
    color: #ff2e62;
    transition: .5s ease;
}

.form-section form {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.input-field {
    width: 304px;
    height: 30px;
}

.text-field {
    width: 304px;
    height: 90px;
}

.input-button {
    width: 304px;
    height: 30px;
    background-color: #00ffaa;
    border: 0;
}
